// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$twt-blue: #1DA1F2;
$twt-lblue: #4DB6F7;
$twt-dblue: #38618C;
$twt-black: #14171A;
$twt-lblack: #1A2F44;
$twt-dgray: #657786;
$twt-lgray: #AAB8C2;
$twt-elgray: #F5F8FA;
$twt-cgray: #E7EBF0;
$twt-red: #D92027;
$twt-lred: #D67D80;
