// Specific CSS for your home-page

body {
  overscroll-behavior: none
}

.main {
  display: flex;
  margin: 0px 10% 0px 10%;
  height: calc(100vh - 68px);
  // overscroll-behavior: none;
}

.side-bar {
  border: 1px solid;
  // flex-grow: 1;
  max-width: 25%;
}

.main-center {
  border: 1px solid;
  flex-grow: 1;
}
