// Specific CSS for your home-page

body {
  overscroll-behavior: none;
  background-color: white;
}

.main {
  display: flex;
  margin: 0px 5% 0px 5%;
  // height: calc(100vh - 68px);
}

.side-bar {
  position: sticky;
  top: 68px;
  border: 1px solid grey;
  // flex-grow: 1;
  max-width: 25%;
  height: calc(100vh - 68px);
}

.main-center {
  width: 600px;
  margin: 0px 3% 0px 3%;
  // border: 1px solid grey;
  flex-grow: 1;
}
