<div class="main">
  <div class="side-bar">
    <%= render 'shared/user-sidebar' %>
  </div>
  <div class="main-center">
    <div class="backtofeed">
      <%= render 'backtofeed' %>
    </div>
    <div class="twtinput">
      <%= render 'profile-data' %>
    </div>
    <div class="twtfeed">
      <%= render 'profile-feed' %>
    </div>
  </div>
  <div class="side-bar">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
  </div>
</div>

