<div class="sidebarcontainer">

  <div class="sbflexbox">

    <div class="sbactions">
      <i class="fas fa-home"></i>
      <sbacttext>Home</sbacttext>
    </div>
    <div class="sbactions">
      <i class="fas fa-envelope"></i>
      <sbacttext>Messeges</sbacttext>
    </div>
    <div class="sbactions">
      <i class="fas fa-bookmark" style="padding-left: 3px;"></i>
      <sbacttext>Bookmarks</sbacttext>
    </div>
    <div class="sbactions">
      <i class="fas fa-user" style="padding-left: 3px;"></i>
      <sbacttext>Profile</sbacttext>
    </div>
  </div>

  <div class="sbtwtbtn">
    <sometext>Tweet</sometext>
  </div>

</div>
