<div class="main">
  <div class="side-bar">
    <%= render 'shared/user-sidebar' %>
  </div>
  <div class="main-center">
    <div class="twtinput">
      <%= render 'tweet-input' %>
    </div>
    <div class="twtfeed">
      <%= render 'feed' %>
    </div>
  </div>
  <div class="side-bar">
    <%= render 'shared/latest-sidebar' %>
  </div>
</div>

