<div class="main">
  <div class="side-bar">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
  </div>
  <div class="main-center">
    <div class="input">
      <p>Find me in app/views/pages/home.html.erb</p>
    </div>
    <div class="brkfeed">
      <p>Find me in app/views/pages/home.html.erb</p>
      <br>
      <p>Find me in app/views/pages/home.html.erb</p>
      <br>
      <p>Find me in app/views/pages/home.html.erb</p>
      <br>
      <p>Find me in app/views/pages/home.html.erb</p>
      <br>
      <p>Find me in app/views/pages/home.html.erb</p>
    </div>
  </div>
  <div class="side-bar">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
  </div>
</div>

