.navbar-lewagon {
  justify-content: space-between;
  background: $twt-blue;
  // border: 1px solid;
  height: 68px;
  position: sticky;
  top: 0;
  z-index: 5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #FFFFFF;
}

.dropdown-item {
  color: $twt-blue;
}
